body,html {   
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#363C4C,#5C9AAB);
    background-size: cover;
}
.contenedor{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.boton-redireccion{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.boton-redireccion:hover{
    background-color: #0056b3;
}